body {
    margin: 0;
}

h1 {
    color: crimson;
    font-family: sans-serif;
    margin: 0px 0px 15px 0px;

}

h2 {
    color: crimson;
    font-family: sans-serif;
    border-bottom: 4px dotted crimson;
}

h3 {
    color: crimson;
    font-family: sans-serif;
}

a {
    color: crimson;
}

.overview {
    font-style: italic;
}

header {
    background-color: #eee;
    padding: 10px;
    border-bottom: 1px solid silver;
}

main {
    padding: 10px;
}

footer {
    background-color: #eee;
    padding: 10px;
    border-top: 1px solid silver;
}

footer h3 {
    margin-top: 0px;
}

table {
    border-collapse: collapse;
}

.numbersBox {
    position: fixed;
    right: 5px;
    bottom: 5px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: white;
}

.colorBoxColorBox1 {
    background-color: greenyellow;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

.colorBoxColorBox2 {
    background-color: orange;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;

}

.colorBoxColorBox3 {
    background-color: magenta;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

.colorBoxColorBox4 {
    background-color: lightseagreen;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}

.navList {
    list-style-type: none;
    padding: 0px;
}

.navList li {
    display: inline;
    margin-right: .5em;
}

#profilePic {
    height: 200px;
    background-color: white;
    border: 2px solid silver;
    padding: 2px;
    float: right;
    margin-left: 10px;
}

#joke {
    width: 50%;
    border: 2px solid silver;
    border-bottom: 4px solid crimson;
    padding: 2px;
    margin: auto;
}

footer li img {
    width: 16px;
    height: 16px;
}